[2017-10-24 14:30] dingo-d opened #1 "Delete removes the file from copied file as well"
Hi!

Love the plugin, it's just that it has a small flaw. I am developing a plugin, and I want to copy some source files, and put them in the `build/` folder. This works, but if I want to clean the build folder for the assets (javascript file) the same file that I copied will get deleted in the created folder.

[code]
So the flow is like this: I am deleting the previously built `build/` folder, th

[2017-10-24 17:48] gregnb commented on #1
@dingo-d Thanks for the feedback. I'll take a look into this issue!

[2017-10-24 22:37] gregnb commented on #1
Hey @dingo-d, so I added support for the onStart/onEnd events to accept Arrays. This should preserve the order in which operations happen. Try the following once you upgrade to 1.0.9:

[code]

[2017-10-25 06:22] dingo-d commented on #1
Nope, my `application.js` bundled file is still empty if I delete the `'./build/scripts'` folder.

Maybe those two are linked somehow?

[2017-10-25 09:43] gregnb commented on #1
They should not be linked it should be a brand new copy. Could you give me some more details?

- How many files and how big is the total MB space of build/ after Webpack finishes building?
- Which OS are you running?
- List version of NPM, WebPack, Babel

I'll try to recreate your setup

[2017-10-25 09:57] dingo-d commented on #1
Ok, so the bundled .js file is 90KB, the source folder I'm copying is 50KB. There are 23 items in the source that are being copied.

I'm on MacOS HighSierra (v 10.13).
NPM version: 5.5.1
Node version: 8.4.0

My dev dependencies look like this

[code]

I'd show the repo, but it's still private.

Thanks

[2017-10-25 23:50] gregnb commented on #1
So I made some more changes if you don't mind upgrading again to the newest version 1.0.10. I believe the problem is happening because the delete operation is firing off before the copy is finished. I've changed the package now to work all operations off promises and they are chained together.  So, if you're following this webpack.config.js sample:

[code]

Looking at 'onStart' it doesn't make muc

[2017-10-26 06:09] dingo-d commented on #1
On start it first deletes the build folder (cleaning any previous build), then copying from the source. When the bundle is over it deletes the js source from the build copied folder and it should delete the bundled script, but only in the separate bundle folder.

Anyways, after the update it works :) Thanks! :+1:

[2017-10-26 06:09] #1 closed

[2017-10-26 10:22] gregnb commented on #1
Great! Thanks for raising the issue it resulted in a nice improvement to the package

[2017-11-02 12:31] redaxmedia opened #2 "Support for wildcards"
Hello,

It would be great to work with [glob](https://www.npmjs.com/package/glob) to support wildcards.

Unfortunately [cpr](https://www.npmjs.com/package/cpr) does not support this, so I suggest to use another library such as [cpx](https://www.npmjs.com/package/cpx) maybe?

I would send you a pull request but without unit testing this ain't fun :-)

Thank you for the plugin anyway.

[2017-11-03 00:08] gregnb commented on #2
When I first starting working on this I had some issues with cpx. If you want todo some thorough testing and present a good case for it having no issues I'd be glad to take a PR!

[2017-11-03 09:17] redaxmedia commented on #2
Like I said... without a testing suite I don't plan to send a pull request as I cannot do TDD.

But you can keep this issue open, maybe someone else will do it.

[2017-11-15 22:24] clockworked247 opened #3 "Override cprOptions"
I want to be able to override the default cpr optons.  For instance, I don't want "deleteFirst" set to true when copying files into a directory.  I want to leave the directory contents intact.

Sending PR to add this functionality.  Thanks for considering.

[2017-11-15 22:54] #3 closed

[2017-11-15 23:17] gregnb commented on #3
I see you closed the PR. I was going to comment it needed work. Do you still want to explore this issue and reopen or you're all set ?

[2017-11-16 15:49] MyNameReallySux opened #6 "Only copy if changed?"
Hi,

It was using this and noticed there is no option to only copy if changed? Is there a feature like this planned?

It seems not to horrible to implement based on [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin/blob/1ceee6cd3c42f945ad59bd95a193b623ebf48920/src/writeFile.js#L69). I haven't looked at it 100% but essentially it is saving an array of content hashes and c

[2017-11-16 22:26] gregnb commented on #6
I am using https://github.com/davglass/cpr for copy the utility. It works rather well and at the moment it seems they are not interested supporting that: https://github.com/davglass/cpr/issues/22

[2017-11-27 02:52] cypherix93 commented on #2
If `onStart` and `onEnd` could take callbacks, maybe we could create the globs ourselves using [glob](https://www.npmjs.com/package/glob). What do you think?

[2017-12-02 16:31] gregnb commented on #2
I've updated the package to now use cpx. Should take care of your issues

[2017-12-02 21:39] redaxmedia commented on #2
Great move... I'll give it a try soon. Now closing this issue. Thanks!

[2017-12-02 21:39] #2 closed

[2017-12-02 23:58] jingzheshan opened #7 "fs.copyfile is not a function"
Hi,

After updated to 1.0.14, it shows following error when running the plugin.

TypeError: fs.copyFile is not a function
    at C:\Projects\Web\Teams\node_modules\filemanager-webpack-plugin\lib\index.js:116:26
    at FSReqWrap.oncomplete (fs.js:114:15)

Thanks

[2017-12-03 00:05] #7 closed

[2017-12-03 00:12] gregnb commented on #7
All set?

[2017-12-03 02:01] jingzheshan commented on #7
Just realised my node.js is really out of date. Thanks dude.

[2017-12-06 12:57] protyposis opened #8 "Glob expression fatal error"
[code]

With the above configuration, I get a `Fatal error: Cannot read property 'isFile' of undefined` which happens because `fs.lstat` fails [here](https://github.com/gregnb/filemanager-webpack-plugin/blob/79009c8daa8b9c4ff46b12f6f67a2d33acf16668/src/index.js#L96) when it can't find the path, which it can't since it's a Glob expression. Happens on Windows 10 / Node 6.9.1.

As I temporary workaro

[2017-12-06 13:11] protyposis opened #9 "Support Node v6"
`fs.copyFile` has only been added in Node 8.5 and fails in older versions. Would be helpful to use a 3rd party file copy library for backwards compatibility (e.g. [fs-extra](https://www.npmjs.com/package/fs-extra)) or at least add a helpful error message.

[2017-12-06 13:29] protyposis opened #10 "Copy file to directory does not work"
[code]

Fails because it seems to try to copy a file onto a directory, as the verbose output suggests:

`FileManagerPlugin: Start copy source file: /some/path/somefile.ext to destination file: /some/other/path`

Expected:

`FileManagerPlugin: Start copy source file: /some/path/somefile.ext to destination file: /some/other/path/somefile.ext`

[2017-12-06 13:33] gregnb commented on #8
Thanks for the feedback. Appreciate it. I just published a new version let me know if this issue is resolved for you

[2017-12-06 13:41] gregnb commented on #9
Sounds reasonable to me. I'll look into this today

[2017-12-06 13:44] gregnb commented on #10
Yeah, let me think more about this one. I mean, it could end up being a change like:

 if source is a file and destination is a folder, then copy inside folder
 if source is a folder and destination is a folder then overwrite it

but with this at least you can work around it by being explicit

[code]

[2017-12-06 13:51] protyposis commented on #10
Thanks, yes a file should be copied inside a destination folder, and the contents of a source folder should be copied into a target folder while preserving all unrelated files that are already there.

I'm working around like you suggested but it adds unnecessary verbosity, and for the Glob approach it must be possible to specify a target folder anyway.

[2017-12-06 13:54] protyposis opened #11 "Only the first command is executed"
[code]

Only the first file is copied, the others are ignored (the Promise is never executed).

[2017-12-06 14:02] protyposis commented on #8
Works great, big thanks for the extremely fast fix & release!

It also made issues #10 and #11 irrelevant for me, very nice :)

[2017-12-06 14:02] #8 closed

[2017-12-06 14:06] gregnb commented on #8
Haha no problem. Thanks for the free QA :) I'm going to look over everything once more and push another update later today with fs-extra support

[2017-12-06 14:29] gregnb commented on #9
Swapped in fs-extra and a fix for #11 as well. Version 1.0.16 just published

[2017-12-06 15:05] protyposis commented on #9
Very nice, thanks! I already updated to Node v8 so cannot give feedback on that but what I can say is that it still works as expected :)

[2017-12-06 15:06] #11 closed

[2017-12-06 15:07] #9 closed

[2017-12-15 17:00] redaxmedia opened #12 "Cannot read property 'isFile' of undefined"
This plugin is not working since the update... you are not going to become a lucky guy without adding unit testing to this project :-)

## Config

[code]

## Error

[code]

[2017-12-15 17:06] gregnb commented on #12
Is that filename correct? What OS is this?

[2017-12-15 17:08] redaxmedia commented on #12
The files are valid - well it is an pattern like you can see!? Should copy `de.svg`, `gb-nir.svg` and `fr.svg`.

[2017-12-15 17:18] gregnb commented on #12
Ok, I see the issue now. Thanks for highlighting the problem. It was confusing at first because no way you can issue a standard unix copy pattern like that and it work.  Something cpx does.

I will look into it. I'll also probably turn what you posted above into a template for ISSUES. I'll also roll in the tests over the weekend since it seems like more people are using this package now.

[2017-12-15 17:34] redaxmedia commented on #12
Great, thanks for your putting work into this plugin. Have a great weekend.

[2017-12-15 18:01] gregnb commented on #12
One more thing, can you tell me which version last worked for you so I can take a look at that and compare against the new to be sure that this was working?

[2017-12-15 18:13] redaxmedia commented on #12
Last version I used is `1.0.11` but I think that does not help as there is no `cpx` inside :-)

[2017-12-15 18:17] gregnb commented on #12
Yeah that's why I'm confused. The package used cpr before and I didn't think it had the ability to read a source file/dir in the format you have above:

  './node_modules/svg-country-flags/svg/de,gb-nir,fr}.svg',

Looking at cpr I can see it handles something similar but not exactly the same:
$ cpx "src/**/*.{html,png,jpg}" app -w & watchify src/index.js -o app/index.js

But I'll give it a shot wh

[2017-12-15 18:28] redaxmedia commented on #12
There was a typo... {de,gb-nir,fr}.svg is correct.

[2017-12-15 22:59] gregnb commented on #12
Alright, I made a fix for this issue and I added in unit tests (finally!). I updated the README to also reflect the fact that you can pass in {} for the source file thanks to cpx.

Unit tests have been long overdue. Sorry for any disruptions on your end! Let me know if this latest version works for you

[2017-12-16 13:59] weotch commented on #12
I'm still having the issue on `1.0.17`

[2017-12-16 14:40] gregnb commented on #12
@weotch could you paste me your config and the error you are getting?

[2017-12-18 10:02] redaxmedia commented on #12
The good news, it is working on Linux. Congrats!

May I suggest to add a .travis.yml to your repo to integrate Travis CI? I added a basic example for you that contains running npm test on nodejs 6 to 8 plus on linux an mac os:

[code]

[2017-12-18 12:08] gregnb commented on #12
@redaxmedia That's good news!

Travis was already setup. I went ahead and added the different os's and node versions.

@weotch If you still have issues open up another ticket. Closing this one

[2017-12-18 12:08] #12 closed

[2017-12-18 12:37] redaxmedia opened #13 "Latest version is still not working"
## Config
[code]
## Issue

Sorry, but something is going wrong, again.

1. Creates a file named `material-design-icons` under `./dist/assets`
 1.1 File vs. directory handling is messed up

2. Does nothing

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |1.0.17|
| node        | v8.7.0|
| OS      |Ubuntu 17|

## Testing

The way you are unit

[2017-12-18 13:26] gregnb commented on #13
@redaxmedia Sorry for the frustration this is causing you. In retrospect, me jumping from cpr to cpx without the unit tests first was a failure on my part.  I tried over the weekend to put the groundwork towards unit testing but clearly there are many more tests to be done.

The mocking library I will look into over the weekend. For now,  I'll take a look at this issue in a minute and add the test

[2017-12-18 13:39] gregnb commented on #13
@redaxmedia I'm trying to replicate your issue and I don't see a problem with #2 -- I've installed the exact package

npm install material-design-icons

then went ahead and found a couple svg's from this package copy over into dist:

  source: './node_modules/material-design-icons/editor/svg/design/{ic_wrap_text_18px,ic_wrap_text_24px,ic_wrap_text_48px}.svg',
   destination: './dist/assets/reduxme

[2017-12-18 13:56] redaxmedia commented on #13
First, don't worry - no frustration here... we are all professionals :-)
Good to see that you learned your lesson anyway. Using a solid unit testing suite before a refactoring is a must have... :+1:

Working: `../../{ic_wrap_text_18px,ic_wrap_text_48px}.svg`
Not working: `../../ic_wrap_text_48px.svg`

[2017-12-18 15:32] gregnb commented on #13
So I've made another update, but it raises some questions so i'm not publishing up to NPM just yet. Take for example the following:

[code]
that will copy 'file-to-copy.ext' into 'destination' **if destination exists** after the fix.

now when this gets tricky say I provide the following:

[code]

it'll copy over bundle.js to ./does-not-exist. Now, if the path doesn't exist I guess the best check

[2017-12-18 16:32] weotch commented on #12
@gregnb sounds good.  I think my issue may have just been trying to copy a file that didn't actually exist when running webpack dev server.

[2017-12-19 00:55] redaxmedia commented on #13
I think everything without an extension should be handled as a directory - trailing slash or not, this is not a fail-safe approach.

[2017-12-26 16:13] gregnb commented on #13
@redaxmedia I'll go with the approach of treating everything as a directory then if it has no file extension. I'll push out an update later tonight. This update will also close #10

[2017-12-27 16:19] gregnb commented on #13
Update has been applied to 1.0.18

[2017-12-27 16:19] gregnb commented on #10
This has been added to the latest version (1.0.18)

[2017-12-28 07:14] rococode opened #14 "Thank you!!!"
Disclaimer: not an actual issue haha

Just found this plugin [here](https://github.com/webpack-contrib/copy-webpack-plugin/issues/15) and wanted to say THANK YOU. So great to see someone actually go and create some functionality they needed, and even greater that it's PERFECT for my own uses! Will be using this in several of my projects (for some hacky Java-Typescript interop..)

[2017-12-28 07:14] #14 closed

[2017-12-28 14:07] gregnb commented on #14
@rococode Thanks for the feedback man! Really appreciate it. I'm glad this is going to help you out

[2018-01-02 14:14] libetl opened #15 ""material-design-icons": "^3.0.1","
## Issue
Hello,
Why do we pull material-design-icons as npm dependency ?
Is it necessary ?
My npm install is 3 times longer than it used to be because of that.
![image](https://user-images.githubusercontent.com/1233790/34486855-093ddbaa-efd2-11e7-893f-80da975164bf.png)

Thanks.

[2018-01-02 14:46] libetl commented on #15
Thanks for your new release !

[2018-01-02 14:46] #15 closed

[2018-01-02 14:46] gregnb commented on #15
Wow, thanks for pointing this out. This was a screw up on my part. I'm working on publishing it shortly it'll be version 1.0.19

[2018-01-04 05:32] rafael-brandao opened #17 "Recognize and translate [hash] stats."
## Config
[code]

## Issue
The plugin crashes because it does not translate the `[hash]` part of the file to the correct hexadecimal sequence hash of the build and ends up not finding the source file.
[code]
It would be really nice to have this feature. I have to use another plugin that correctly translates stats like [hash] just for this. It would be nice to take a look, it's a very simple plugin

[2018-01-04 11:48] gregnb commented on #17
Thanks for sharing this with me. I think this is pretty useful and I'll investigate tonight!

[2018-01-04 11:49] #13 closed

[2018-01-04 11:49] #10 closed

[2018-01-04 11:50] redaxmedia commented on #13
Latest version is woking for me - thank you :-)

[2018-01-04 12:12] gregnb commented on #13
No problem! Thank you for your help

[2018-01-06 23:24] gregnb commented on #17
This feature is now added in 1.0.20

[2018-01-08 14:04] #17 closed

[2018-01-18 14:04] mishani0x0ef opened #18 "Possible to remove files outside the project directory"
## Config

[code]

## Issue
In case if by-mistake in _delete_ function was passed incorrect path - possible unexpected deletion of files (in my case I was able to kill my D-drive). It could be a bit dangerous.

Maybe as solution delete operation could be limited to remove only files and folders that are inside some _root_ folder that should be specified.

## Your Environment

| Tech         | Vers

[2018-01-18 15:01] gregnb commented on #18
@mishani0x0ef Sorry to hear that you wiped out your folder. That sucks. So that I'm understanding correctly

[code]

Is what you had for a config?

[2018-01-18 15:41] mishani0x0ef commented on #18
@gregnb Yeah, almost. I have passed a string instead of an array like this:

[code]

*P.S:* I have recovered my files already and I will be more careful in the future. However, possibility to remove all files makes me surprised.))

[2018-01-18 15:42] mishani0x0ef commented on #18
Corrected config in the issue description to make it more clear.

[2018-01-19 00:09] gregnb commented on #18
Published in 1.0.21 - Thanks again

[2018-01-19 00:09] #18 closed

[2018-01-19 09:45] mishani0x0ef commented on #18
My pleasure. Thanks for the great plugin.

[2018-01-24 05:53] nishantkagrawal opened #20 "Support archiving the files (zip)"
## This is not an issue, but a feature request.

## Request

archiving the files for deployment is common for us. I have been using this plugin and found it helpful to setup the right deployment directory. I would also like to use this as an archive tool.

Is it possible?

[2018-01-24 13:34] gregnb commented on #20
It sounds interesting, but let me think about this some more.  So on every build you guys archive it for historical purposes?

I don't want to throw just every feature in the book and bloat this package, but I'm open minded to maybe the possibility of people needing to archive builds.  Just curious as to the frequency in which you do it?

[2018-01-24 14:17] kroko opened #21 "Destination filename hashing"
## Config

[code]

## Issue

Would be nice if output files could be hashed.

I.e. `copy-webpack-plugin` allows

[code]

Thanks!

## Your Environment

| Tech         | Version
| ---------------- | -------
| node             | 8.9.4
| npm              |  5.6.0
| Operating System |  macOS 10.13.2
| Webpack |  3.10.0
| filemanager-plugin-webpack  |  1.0.21

[2018-01-24 14:23] gregnb commented on #21
Sounds reasonable, I'll take a look into this tonight. Thanks!

[2018-01-24 15:34] kroko commented on #21
Of course hash being dependant on file content, it changes when file (content) changes, not something randomly new on every build.

[2018-01-24 18:33] gregnb commented on #21
@kroko That is going to conflict with what Webpack already provides for filename substitutions.

https://webpack.js.org/configuration/output/#output-filename

So I can provide those filename substitutions from Webpack for [hash] but not a custom one that is based on file content changing

[2018-01-25 06:16] nishantkagrawal commented on #20
We actually archive it and then the deployment servers would extract them and deploy. So yes each and every build with create the archive.

[2018-01-27 00:41] gregnb commented on #20
This feature has been added and available in 1.0.22

[2018-01-30 12:43] nishantkagrawal commented on #20
Excellent! Thanks for the quick update!

Is it possible to update the library to take the archiver parameters to be passed from within the configuration?

So basically I would like to

[code]

So the format will be the first parameter of the archiver function (with zip as default) and the options would be the second parameter.

https://github.com/archiverjs/node-archiver/tree/master/examples

[2018-01-30 13:06] gregnb commented on #20
For now, it will have to stay the way it is. My reasoning for it is i plan on adding in a "global" options parameter so people can tweak not only this but the cpx options for copying and other things.

[2018-01-30 13:24] nishantkagrawal commented on #20
But in archive case, wouldnt it be necessary to have options scoped to the archive object, as there could be multiple archive outputs with different formats?

[2018-01-30 13:57] gregnb commented on #20
Alright I'll look into it tonight. Thanks

[2018-02-03 20:36] gregnb commented on #20
Here's what I'm thinking instead of having 'archive' repeat twice. That seems confusing to me:

[code]

If no format or options are provided it defaults to zip

[2018-02-04 04:58] nishantkagrawal commented on #20
Works for me! Thanks!

[2018-02-05 13:52] gregnb commented on #20
This support is now available from 1.0.23

[2018-02-05 13:52] #20 closed

[2018-02-06 07:31] kroko commented on #21
Better that than nothing 😄

[2018-02-06 09:00] nishantkagrawal commented on #20
Perfect!

[2018-02-11 19:24] gregnb commented on #21
@kroko Hah, sounds good man. In 1.0.24 you can use [hash] for your destinations

[2018-02-11 19:24] #21 closed

[2018-03-10 15:44] biliktamas79 opened #22 "Glob pattern support for delete and move"
## Feature request

It would be really great to have support for glob patterns not just for the **copy**, but for the **move** and **delete** commands as well.

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |        1.0.24 |
| node        |         7.9.0 |
| OS      |         Windows 10 x64 |

[2018-03-10 17:58] soumyart opened #23 "post delete, zip archive is corrupted"
## Config
[code]

## Issue
After creating the zip file I'm cleaning up the dist directory. But post build competed, zip file is corrupted and the size of zip is also reduced.
If I remove the `delete` option then there is no issue.

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |1.0.24|
| node        | v8.9.3 |
| OS      |  Windows 8.1 Ente

[2018-03-11 00:13] gregnb commented on #23
Ok, thank you I will look into this issue

[2018-03-11 10:13] gregnb commented on #23
This has been fixed in version 1.0.25

[2018-03-11 10:13] #23 closed

[2018-03-28 02:05] themikesnow opened #25 "Issue copying file without extension"
## Config

[code]

## Issue

  Hi Guys,
     I am having a little issue while using the plugin (which by the way is very useful! :)). I have a file which does not have an extension that needs to be copied into the build directory. For some reason the file gets created under a new directory with the same name (_redirects) instead of just copying the file. Is there any flag I can set to let the plug

[2018-03-28 02:26] gregnb commented on #25
Hey Mike,

Thanks for the feedback. I had a feeling this day would come when I posted this comment: https://github.com/gregnb/filemanager-webpack-plugin/issues/13#issuecomment-352461176

I will leave this issue open and see if others voice their need for such a feature

[2018-04-05 13:15] akhoury opened #26 "[question] What is the order of operations of the options?"
[`copy`, `move`, `delete`, `mkdir`, `archive`] is that it?

[2018-04-05 16:04] gregnb commented on #26
The order of executed operations are what you provide in the config. It should be going through each one in a synchronous fashion.  Are you having any issues?

[2018-04-05 16:06] akhoury commented on #26
I am not thank you, I am just wondering if there was a strict order, since [properties order in objects is not guaranteed in JavaScript](https://stackoverflow.com/a/5525820/493756)

[2018-04-05 16:06] #26 closed

[2018-04-05 16:33] gregnb commented on #26
@akhoury Yep, understood. In the README near the bottom I also list a way where you can provide these in as an array if you have any issues: https://github.com/gregnb/filemanager-webpack-plugin

[2018-04-05 16:42] akhoury commented on #26
Awesome, thanks so much !

[2018-04-05 17:02] gregnb commented on #26
@akhoury No problem!

[2018-04-11 16:15] Saravanan90 commented on #22
+1

[2018-04-15 03:47] abczdefg opened #27 "Something strange while copying file and renaming it"
Hi! I'd like to copy a file and rename it, but I get a folder named as the name of source file.
The code in document likes that:
[code]
Then I make it like that:
[code]
I get a folder named `app.css`, and the source file is copied into this folder. Is there anything wrong in my code? Thank you!

![1143_1](https://user-images.githubusercontent.com/21260713/38774793-b0b44b00-40a2-11e8-972f-ae57293d6

[2018-04-20 05:50] zhanghuanchong opened #28 "Request feature: "exec" option"
How about adding a new option "exec" to run external scripts before or after building?

[2018-04-22 16:54] gregnb commented on #28
@zhanghuanchong It's something I believe is out of scope for this plugin. You can use https://www.npmjs.com/package/webpack-shell-plugin

[2018-04-22 16:54] #28 closed

[2018-04-22 16:55] gregnb commented on #27
What you have in your config seems fine. I'll try to take a look into this issue

[2018-05-07 22:17] clockworked247 opened #29 "TypeError: Cannot read property 'isFile' of undefined"
Hi,

I'm seeing an error when attempting to use FileManagerPlugin.  This issue started appearing after updating to the latest version of the library.

Changing /filemanager-webpack-plugin/lib/index.js:179
[code]
Fixes the issue.

## Config

    new FileManagerPlugin({
      onStart: {
        delete: [
          config.build.copyToDirectory + 'static/vue/js/manifest.*',
          config.build.copy

[2018-05-07 22:37] gregnb commented on #29
@clockworked247 Would you like to send a PR in for this issue?

[2018-05-09 10:50] gregnb commented on #29
I'll make an update but this issue is highlighting something else. You are trying to copy something that does not exist. Remove the dot at the end and change your config to:

[code]

I'll add better error handling

[2018-05-10 21:58] clockworked247 commented on #29
@gregnb Ok, will do.  Thanks.

[2018-05-22 10:38] viktor-izettle commented on #22
I very much agree.

[2018-05-22 14:35] viktor-izettle commented on #22
After some poking around in the source, it turns out `delete` uses `rimraf` which supports globs. Also since `copy` supports globs the workaround is to simply copy then delete.

[2018-05-22 18:48] biliktamas79 commented on #22
Ok, then now a copy-then-delete can be a workaround for moving, but as it temporarily uses double space and thus it is only a workaround, we still miss the real solution. Why not to support glob pattern matching in move as in copy???

[2018-06-04 20:44] atdiff opened #30 "Archive file includes empty copy of itself"
## Config

[code]

## Issue

The dist.zip file that gets created ends up containing a dist.zip that is empty. Shouldn't dist.zip exclude itself?

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  | 1.0.26 |
| node        | 10.1.0 |
| OS      | Windows 7 |

[2018-06-06 11:09] JanKanty commented on #22
I just added `*` to delete rule and it works fine ;)

[2018-06-06 23:56] gregnb commented on #30
I would choose a different destination

[2018-06-06 23:56] #30 closed

[2018-06-07 14:59] atdiff commented on #30
That's the route I ended up going. But it would be nice if the plugin was smart enough to just exclude that file altogether.

[2018-06-07 20:34] devpull opened #31 "Copy hidden files?"
How do you copy hidden files with this plugin? Like .haccess

[2018-06-07 20:41] devpull commented on #31
Oh. Found it. With appropriate glob.
**/* - copy all folders, and their files
**/.* - copy all folders, and their hidden files
.**/* - copy all hidden folders, and their files
.**/.* - copy all hidden folders, and their hidden files

[2018-06-07 20:41] #31 closed

[2018-07-09 01:51] fillon opened #33 "'move' does not work => path does not exist | 'copy' no error"
## Config
[code]
## Issue
When using 'move', I get the following message:
`Warning:   - FileManagerPlugin: Could not move /Users/aa/projects/foo/dist/manifest*.json: path does not exist`

When using 'copy', it copies the file without any error.

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |   1.0.27      |
| node        |     10.5.0    |

[2018-07-18 16:19] HawkeyePierce89 commented on #30
+1 to topicstarter, it's this is a logical configuration, if I don't want to clutter up the project folder

[2018-07-18 19:46] nchen63 opened #34 "Differentiate between incremental and full Webpack build"
## Config

[code]

## Issue

Would be nice if the plugin could support events that only occur on full Webpack build. For example, I want to delete all of the files in the target before building. Currently, it deletes everything even on incremental watch builds. Webpack doesn't appear to write unchanged files, so all the files get deleted and most of the files I need are missing.

## Your Environme

[2018-07-25 14:38] kaisermann opened #35 "Exclude 'parent directory' from archive"
## Config
[code]

## Issue
The `bundle.tar.gz` contains the `bundle` directory, not only its content. Is it possible to exclude the parent `bundle` directory from the generated archive (something like the `pathPrefix` [here](https://github.com/laomao800/webpack-archive-plugin#usage))?

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |    1.0

[2018-07-27 00:31] gregnb commented on #35
Best I can do is adding a property called 'globOptions' where you can pass on options to archive.glob which uses node-glob

[2018-07-27 00:40] gregnb commented on #35
Available in latest version

[2018-07-27 00:40] #35 closed

[2018-07-31 15:06] EliasJorgensen commented on #33
I am experiencing the same issue. When trying to move a file it complains when the above error message, but it works flawlessly when using copy.
My temporary workaround is copying the file, and then deleting the old file.

[2018-07-31 20:07] EliasJorgensen opened #36 "move cannot use the product of previous action, while copy can"
## Config
[code]

## Issue

When i am trying to move an archive that i just generated, i receive
`Warning:   - FileManagerPlugin: Could not move ./testing/moveGeneratedFile.tar: path does not exist`
`Warning:   - FileManagerPlugin: Could not move ./testing/moveCopiedFile.js: path does not exist`.
I would assume that the expected behavior of running the actions in series, opposed to running them in

[2018-07-31 20:08] EliasJorgensen commented on #33
My issue was unrelated. See #36.

[2018-08-01 17:25] gregnb commented on #36
Especially since:

https://github.com/gregnb/filemanager-webpack-plugin/blob/master/src/index.js#L325

That promise should not resolve until the archive is finalized

[2018-08-03 22:21] eamodio commented on #29
@gregnb I'm running into this same issue when trying to copy a file that may or may not exist. I only want to copy it if it exists, and if it doesn't I don't care. What is the recommended way to get that to work?

[2018-08-05 00:10] gregnb commented on #29
Just published a fix for this in filemanager-webpack-plugin@1.0.29

[2018-08-05 00:10] #29 closed

[2018-08-08 21:41] jimwheaton opened #37 "Generated archive file is included in the generated archive if the destination file is a child of the source folder"
## Config
[code]

## Issue
If the archive destination filename is specified as a child of the source folder, then the .zip file itself is zipped and included in the .zip archive.  For example, let's say my /dist folder has these files:

a.html
b.html

and I archive this folder using the config above. Then the dist folder will have:

a.html
b.html
mypackage.zip

However, if I unzip mypackage.zip, I

[2018-08-16 10:36] arqex opened #39 "Delete actions not accepting an array of paths"
Hey thanks for the plugin, it's just what I was looking for!

## Config

[code]

## Issue
Delete is not working when passing an array of strings. I am getting the error:

[code]

What's happening is that on the delete action the plugin is doing `_this2.replaceHash(actionItem.source)` and source is not defined, actionItem is just the path to the dir to delete.

I don't know if it's a docs problem o

[2018-08-16 11:38] selbekk commented on #39
Yeah I noticed this too. I'm working on a PR to fix it

[2018-08-16 12:58] gregnb commented on #39
You're right it is indeed a bug. Thank you

[2018-08-16 13:37] arqex opened #41 "Feature requests: Transform while copying and gzip files in folders"
Hey thanks for the great plugin! I am looking for replacing the copy and compression plugins from my build stack and, to do so, I still need filemanager plugin to have 2 main features:

* The copy plugin has a `transform` option to made modifications to the files while copying ( https://github.com/webpack-contrib/copy-webpack-plugin#patterns ). That's so handy, it's like a swiss knife. It would be

[2018-08-17 00:11] #39 closed

[2018-08-22 16:18] yogintas opened #42 "filemanager-webpack-plugin webpack4 support?"
Most likely an issue with webpack4? Is webpack4 supported or am I doing something wrong? I didn't change anything besides upgrading webpack.

[code]
[code]

[2018-08-29 14:03] gregnb commented on #37
Issue is now fixed thanks to @pnobbe

[2018-08-29 14:03] #37 closed

[2018-08-30 14:27] pnobbe commented on #37
@gregnb Might want to revert the PR and open this issue again. Noticed some unwanted behaviour that the tests didn't cover that occured in the PR. I'll get on it soon.

[2018-08-31 14:19] uoziod opened #45 "Avoid execution in watch mode"
That would be awesome to be able to execute onStart only once in watch mode.

[2018-10-04 01:43] soubhratra opened #46 "resource busy or locked error"
## Config
new FileManagerPlugin({
        onEnd: [
         {
            copy: [
              {
                source: "./target/dist/bundle.js",
                destination: "C://my_grails_project/main/web-app/client-lib/react-component"
              }
            ]
          }
        ]
      })

## Issue
I am building a shared Javascript library in react which is getting bundled with a Grai

[2018-10-08 17:08] eamodio opened #47 "Copying files in `onStart` doesn't seem to cause webpack to wait before compiling"
## Config

[code]

## Issue

When using the following config, Webpack doesn't seem to wait for the copy operation to complete before it continues and starts compiling. I am copying in some shared typescript files (that are required for the build to succeed) and for the longest time it was working fine (since there was only 2 tiny files), now because there are 8 files (with more content) my builds

[2018-10-08 18:19] mikevaleriano commented on #25
Exactly my problem there.

OP is probably deploying to Netlify as well, as `_redirects` is the file they use to control redirect and rewrite rules.

For now I'm using [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin), which is limited in comparison, but gets this specific job done painlessly.

[2018-10-15 12:03] gregnb commented on #47
hey @eamodio so like most plugins we're simply attaching to the hooks provided to let us know when a build has finished.  I don't know if we can pause/interrupt that process from the plugin space. It may be possible? in order to solve your issue outlined above we would need something like this

[2018-10-16 19:39] ConnorsFan opened #48 "Preserve original date when copying files"
## Issue
I want to copy many files from one folder to another one, and keep the original file modification date.  As it is now, the current date and time is set on the copied files.

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  | 2.0.5  |
| node        |  8.9.1  |
| OS      |  Windows 7  |

[2018-11-16 15:05] salvatoredibenedetto commented on #45
Yes absolutely agree with @uoziod .
I need to remove files only once at-start not on recompile.
That would be great

[2018-12-19 14:55] dtaipov commented on #6
@gregnb You've switched from cpr to cpx and cpx has `--no-initial` flag, which seems like aimed for copying only changed files.
https://github.com/mysticatea/cpx/issues/22#issuecomment-262424231

[2019-01-18 16:07] garyvh2 commented on #21
@gregnb Is there a way to make this work `onStart`? currently it only works `onEnd`

Regards

[2019-02-15 16:36] golopot commented on #35
Is this solved? I still don't know how to do it.

[2019-02-15 16:45] kaisermann commented on #35
@golopot Pass a `globOptions` to the `archive[].options` object:

[code]

[2019-02-15 17:03] golopot commented on #35
This does not work. Directories are packed into the archive.
[code]
This works. Files are flattened.
[code]

[2019-02-22 05:09] dotnetshadow opened #49 "Vulnerability on braces < 2.3.1"
Hi there,

## Config
filemanager-webpack-plugin 2.0.5

## Issue
There is a vulnerability on braces package < 2.3.1
https://www.npmjs.com/advisories/786

[2019-02-23 21:43] MikeRankin opened #50 ".ebextensions file not included in archive"
## Config

[code]

## Issue

The .ebextensions directory is not included in the archive file. The dest function just creates a timestamped filename.

## Your Environment

| Tech                       | Version              |
| -------------------------- | -------------------- |
| filemanager-plugin-webpack | 2.0.5                |
| node                       | 6.4.1                |
| OS

[2019-02-24 16:29] dingo-d opened #51 "Exclude certain files in archive?"
## Config

[code]

## Issue

Not a bug per se but I'm not sure how to exclude certain folders when archiving.

I'm trying to generate a zip file (and I successfully did) that will have only certain files in it, as for the production purposes they are not needed. In my case I'd like to bundle certain files in a zip file when working on a WordPress plugin.

The snippet above created a zip file with

[2019-02-24 16:49] dingo-d commented on #51
Ok so this seems to be working:

[code]

If there's a better way I'd be interested in it. If not, feel free to close the issue 🙂

[2019-04-05 21:15] DavidHenri008 opened #52 "Archive action terminate too soon"
## Issue
The archive action terminates (call the promise resolve()) when the archiver finalize but this is not really the end of the process since the stream has not been flushed yet. According to the [archiver documentation](https://github.com/archiverjs/node-archiver), the onClose event should be the real end.

I suggest to replace the archive action code:
[code]
by
[code]
Thanks.
## Your Enviro

[2019-04-14 23:28] soundasleep commented on #49
While this vulnerability exists, you may want to consider the alternative plugin https://github.com/webpack-contrib/copy-webpack-plugin which has very similar behaviour (and has no vulnerabilities at the moment).

[2019-04-15 03:40] dotnetshadow commented on #49
@soundasleep cheers, thanks for that unfortunately I need to delete a directory
I went with https://github.com/johnagan/clean-webpack-plugin

[2019-05-09 16:22] hummal commented on #45
Made a pr to execute only once if watch mode is enabled. That should fit most of the use cases.

[2019-05-10 09:42] peterchavasse opened #55 "Multiple destinations"
Would it be possible to have an array of destinations?

I can of course set up multiple entries in the copy array (which is how I am using the plugin), but would be nicer to have a single entry (as the source files are always the same) which copies the source files to each destination in the new destination array.

Just a thought :)

[2019-06-03 16:18] eduardoha70 opened #57 "How to add on quasarconf?"
I am using quasar framework and i'd like to know if it is possible to add to configuration

This is quasar.conf.js

[code]

| Tech         | Version |
| filemanager-plugin-webpack  |     2.0.05    |
| node        |    10.15     |
| OS      |   ubuntu 16 LTS      |

[2019-06-07 21:38] yannicke commented on #25
Same problem for me with the _redirects file when deploying to Netlify.
It will be great to be able to copy file without extension!

[2019-06-08 08:09] yannicke commented on #25
I made an update to allow copy file without extension with a "toType" property.

It works for me now with: { source: '_redirects', destination: './dist/_redirects', toType: 'file' }

#58

[2019-06-11 15:32] GDreyV opened #59 "onEnd doesn't work"
in onEnd handler cb() function is called before operations are finished. It was fixed in following pull request
https://github.com/gregnb/filemanager-webpack-plugin/pull/53 but it's still not applied.

[2019-06-25 18:11] eric-norcross commented on #22
Is there a way to use a glob pattern in the `destination` path of a copy function? e.g.:
[code]

[2019-07-27 01:39] matthew-kerle opened #60 "Bug: Move JavaScript / CSS with Sourcemaps"
If you use a setup like:
[code]
And the JS / CSS files have sourcemaps, it will fail to copy because the "file is a directory". What I found worked, was copying the files, and *then* deleting the originals.

[2019-08-06 23:11] yackers commented on #57
Sure it's easy:
[code]

[2019-08-15 06:07] Wyzix33 commented on #49
Any news on this?

[2019-08-27 13:21] JAW-Dev opened #62 "Supress Move Warnings"
## Config

`N/A`

## Issue

I was wondering if there could be an option to suppress the warning message when move cannot find a file. I have a particular environment where I need to move the CSS/JS files into sub directories. It's fine on a production build or when I start watch, but anytime there are no changes to a file during the watch process and Webpack doesn't build a new file I'm getting th

[2019-09-04 00:56] zicodeng commented on #25
Same problem here, any updates on when we will resolve this bug?

[2019-09-19 11:06] xiaoyouyu commented on #29
the bug is i has not ./dist file，cao

[2019-11-07 11:35] CrazyProgrammer12138 opened #63 "Cannot read property 'isFile' of undefined"
## Config

## Issue
This error occurs when the filemanager-webpack-plugin is installed after the vue is initialized and configured to run

Cannot read property 'isFile' of undefined

## Your Environment

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |         |
| node        |         |
| OS      |         |
![image](https://user-images.githubusercontent.com/2

[2019-11-07 11:36] CrazyProgrammer12138 commented on #63
Cannot read property 'isFile' of undefined

[2019-11-13 05:47] kakarlus opened #64 "mkdir on ../../folder"
mkdir on parent of parent doesn't work.

## Config
[code]

## Issue
the folder does not get created

## Your Environment
my webpack config is in another folder of a workspace

| Tech         | Version |
|--------------|---------|
| filemanager-plugin-webpack  |2.0.5|
| node        |10.16.3|
| OS      |windows|

[2019-11-13 06:23] kakarlus commented on #64
working as expected my bad

[2019-11-13 06:23] #64 closed

[2019-12-08 18:59] rszik opened #65 "replace in file"
Hi,

Could you please consider to implent a 'replace in file' action, that would be great.

Thanks :)

[2020-02-12 10:33] danieldaeschle commented on #63
anyone knows how to fix?

[2020-02-21 11:33] etabackman commented on #41
The `transform` option would be really helpful.

[2020-03-12 14:36] taiwoobe opened #66 "Copy command now working after webpack build"
I have tried running the copy and delete command but when I run my yarn build, it builds my app but the copy path tells me no such path exists. If I run the yarn build again, it now sees to file and copies to the desired destination.

How can this be fixed without having to run yarn build twice?

[2020-03-13 07:36] liuning9 commented on #63
emmm.. after configuration, you need to build it once..

[2020-03-25 09:48] liuyunzhuge commented on #35
[code]

[2020-04-15 07:29] simplethink commented on #63
configureWebpack: config => {
    if (process.env.NODE_ENV === 'production') {
      return {
        plugins: [
          new FileManagerPlugin({
            onEnd: {}
          })
        ]
      }
    } else {

    }

[2020-04-15 07:31] simplethink commented on #63
`configureWebpack: config => {
  if (process.env.NODE_ENV === 'production') {
    return {
      plugins: [
        new FileManagerPlugin({
          onEnd: {}
        })
      ]
    }
  } else {

}`

[2020-04-15 07:35] simplethink commented on #63
`configureWebpack: config => {
    if (process.env.NODE_ENV === 'production') {
        return {
            plugins: [
                new FileManagerPlugin({
                    onEnd: {}
                })
            ]
        }
    } else {
    }
}`

[2020-04-15 07:44] CrazyProgrammer12138 commented on #63
是给我的解决办法嘛？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "阿秋"<notifications@github.com&gt;;
发送时间: 2020年4月15日(星期三) 下午3:32
收件人: "gregnb/filemanager-webpack-plugin"<filemanager-webpack-plugin@noreply.github.com&gt;;
抄送: "爱@果者。"<1525809031@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [gregnb/filemanager-webpack-plugin] Cannot read property &#39;isFile&#39; of undefined (#63

[2020-04-30 06:53] xianweics commented on #66
You can try to use https://www.npmjs.com/package/filemanager-plugin. Hopefully it fixes your bug.

[2020-04-30 06:59] xianweics commented on #60
You can try to use https://www.npmjs.com/package/filemanager-plugin. Hopefully it fixes your bug.

[2020-04-30 06:59] xianweics commented on #60
You can try to use https://www.npmjs.com/package/filemanager-plugin. Hopefully it fixes your bug.

[2020-05-12 08:55] cw19931024 commented on #63
出现这个问题的根本原因应该是没有做好生产和开发的区分。
导致启动本地项目的时候报错(盲猜应该是没找到生产的文件)
在配置里加个这段代码
`process.env.REACT_APP_COLYST_ENV == 'production'`用来区分生产和开发
在此提供一下config-overrides的配置
![image](https://user-images.githubusercontent.com/15888370/81662936-da6c4c80-9470-11ea-9ea4-a4e0b2431fdb.png)

以下为机翻(The following is machine translation)
The root cause of this problem should be the failure to distinguish between production and

[2020-05-28 12:18] dsjtlmy commented on #63
我也遇到同样的问题。
最奇葩的是，同一台电脑，第一次检出，run dev 没问题。
但是换一个目录，npm run dev 就报此错误。
真的很迷茫

[2020-07-21 15:05] iorrah commented on #27
@abczdefg have you ever managed to address this issue?

[2020-08-26 07:36] lengziyu commented on #63
## `onEnd.archive`缺少里面设置的`source`参数的文件

比如我的设置是：
[code]
我把项目根目录的`dist`删除之后，运行`npm run serve`就会报`TypeError: Cannot read property 'isFile' of undefined`

## 解决方法
先`npm run build`出一个`dist`目录，再`npm run serve`就可以了。

[2020-10-10 12:14] wangcherry commented on #66
Did you solve it？

[2020-10-10 15:15] sibiraj-s commented on #66
@wangcherry can you try v3. It is now in alpha.

[2020-10-22 16:11] sibiraj-s commented on #25
It is fixed now. try. v3-alpha.

[2020-10-22 16:12] sibiraj-s commented on #25
Reopen if it doesn't work.

[2020-10-22 16:12] #25 closed

[2020-10-24 03:02] sibiraj-s commented on #63
I know there is a huge delay in response, recently I was added as collaborator for this lib. I did a rewrite of this plugin and published as v3(alpha). Can you try that. Reopen if the issue still persist.

Thanks.

[2020-10-24 03:02] #63 closed

[2020-10-24 05:07] sibiraj-s commented on #59
can you check with v3(alpha) and reopen if the problem still persist.

[2020-10-24 05:07] #59 closed

[2020-10-24 06:29] sibiraj-s commented on #49
Recently a new version is published which fixes most of the vulnerability. some required breaking changes which is available in v3(alpha)

[2020-10-24 06:29] #49 closed

[2020-10-24 06:30] #66 closed

[2020-10-24 06:32] sibiraj-s commented on #57
Thanks @yackers.

[2020-10-24 06:32] #57 closed

[2020-10-24 06:33] sibiraj-s commented on #52
Can you try v3. It should be fixed. Reopen the issue if it still exist.

[2020-10-24 06:33] #52 closed

[2020-10-24 06:36] sibiraj-s commented on #46
Sorry for the delay reply. I just joined this lib as a collaborator.
If you still have the problem Can you try it with v3 and reopen if required.

[2020-10-24 06:36] #46 closed

[2020-10-24 12:57] sibiraj-s commented on #47
Fixed in v3 alpha.

[2020-10-24 12:57] #47 closed

[2020-10-25 02:39] sibiraj-s commented on #36
Fixed in v3. Reopen if the issue still persist.

[2020-10-25 02:39] #36 closed

[2020-10-27 09:44] sibiraj-s commented on #33
Sorry for the delayed reply. I just started maintaining this lib.

When you are using objects. the execution order is not guaranteed. See here for example https://github.com/gregnb/filemanager-webpack-plugin#order-of-execution

Try this.

[code]

Reopen if the issue still exists.

[2020-10-27 09:44] #33 closed

[2020-10-27 09:50] sibiraj-s commented on #51
Try. v3. I the ignore option should be working now.

You can do this

[code]
See here for details https://www.archiverjs.com/archiver#glob.

Reopen if it doesn't work.

[2020-10-27 09:50] #51 closed

[2020-11-04 12:37] ronaldof1s1 opened #84 "Archive after copy does not work"
## Config
![image](https://user-images.githubusercontent.com/11231193/98112588-37c1e300-1e81-11eb-888b-3e2acbdd9d1b.png)

## Issue

It does not archive files copied, only the ones pre-existent in the folder. I'm guessing it doesn't finish copying files before it starts zipping them.

## Your Environment

| Tech                       | Version |
| -------------------------- | ------- |
| filemanage

[2020-11-04 14:18] sibiraj-s commented on #84
The copy action is not awaited, hence the issue.

Try aplha.5. Reopen if the issue still exist.

[2020-11-04 14:18] #84 closed

[2020-11-08 05:50] sibiraj-sr commented on #60
Try v3. It is alpha right now. Reopen if the issue still exist.

[2020-11-08 05:52] sibiraj-s commented on #60
Try v3. It is in alpha right now. Reopen if the issue still exist.

[2020-11-08 05:52] #60 closed

[2020-11-08 05:56] sibiraj-s commented on #55
Yeah, It is a nice to have option. but this would increase the maintenance burden. For now, you can set multiple tasks using existing setup.

Closing this issue for now. If there are multiple requests on this issue. this option can be considered.

Thanks.

[2020-11-08 05:56] #55 closed

[2020-11-08 06:02] sibiraj-s commented on #50
to copy extensions

[code]

to

[code]

I just started to work on this library. It's been a very long time since you created the issue. I hope by this time you might have fixed the issue. Reopen if the issues still exists. Thanks

[2020-11-08 06:02] #50 closed

[2020-11-08 06:25] sibiraj-s commented on #27
It works as expected. You cannot copy glob into a file, thats how it works. In your example `app.*.css` could match more than one file in the path. If there are more than one files by any chance. It can't be copied/merged into a single file. It is copied as it is to the target directory.

And. Yes. I agree, the interpolated file names generated by webpack can't be copied by giving a filename, sinc

[2020-11-08 15:17] sibiraj-s commented on #48
Fixed in v3-alpha.7

[2020-11-08 15:17] #48 closed

[2020-11-08 15:34] sibiraj-s commented on #6
The tasks runs before and after compilation. I am not sure supporting that would be easier even though the library supports that.

This issue is quite old, closing this issue for now. This feature can be considered on further requests.

[2020-11-08 15:34] #6 closed

[2020-12-07 08:36] sebastientromp commented on #65
Seconding this. I use ReplaceInFileWebpackPlugin today, but I can't get it to execute before the FileManagerPlugin starts

[2020-12-07 12:36] sibiraj-s commented on #65
Saw the plugin, `FMP uses afterEmit hook` and `ReplaceInFileWebpackPlugin used done hook`. afterEmit executes before done hook. so it is not possible.

Also I am not so sure about replacing in file, since this happens before and after the compilation. Problem with that is If we are replacing the content of the emitted file after compilation, it will change the contenthash of the files, will then n

[2020-12-07 13:57] sebastientromp commented on #65
Thanks for the reply, I understand. Then it seems that there is no real solution if you want to zip the dist after changing some values in it.

Do you think it could be possible to add a wait timer, as a workaround? Or a kind of "beforeHook" that would let the user run some logic before executing the onEnd events (which in my case could let me tell the script to sleep for 1s for instance)

[2020-12-07 15:10] sibiraj-s commented on #65
Not sure. can you post what you are trying to achieve?

Also I saw the [processassets](https://webpack.js.org/api/compilation-hooks/#processassets) hook in webpack-5, about letting users specify the stage and callback with assets. I am not sure that will help. but I haven't got enough time to evaluate the options.

[2020-12-07 16:39] sebastientromp commented on #65
I have a few config file in my app with placeholder values, and I use `ReplaceInFileWebpackPlugin` to replace these placeholders with their actual values.

Then I want to zip my whole `dist` folder. With the current timing of the operations though, the FileManager kicks in before the replace file process can complete, and so I still have the placeholders in my final zip.

So it's really an operati

[2020-12-08 05:30] sibiraj-s commented on #65
got it. may be if you are using webpack 5 you could use this plugin [copy-asset-in-memory-webpack-plugin](https://github.com/sibiraj-s/copy-asset-in-memory-webpack-plugin) and tap into a specific stage to do the transform/replace on the code, or use copy-webpack-plugin which also has a transform function (I am not sure that will help your case) Meanwhile I'll see what I can do here.

[2021-01-06 07:25] CGSimplePeople opened #87 "cannot delete file"
[code]

Why can't I delete the file?

[2021-01-06 10:47] sibiraj-s commented on #87
@CGSimplePeople Can you elaborate a bit? what do you want to delete and what error you are getting?

[2021-01-11 21:24] patrickkettner opened #88 "option to not swallow errors"
Would it be possible to add an option to throw the error being logged? Or change the exit code so that it doesn't return a 0 and appear successful?

https://github.com/gregnb/filemanager-webpack-plugin/blob/35f62bcef3af20b4d85b53f400b097e71ddc03e2/src/actions/copy.js#L56

[2021-01-12 20:25] matthiasrohmer opened #89 "Allow deleting files outside of project directory"
Deleting paths outside of the CWD is currently not supported. This is caused by `del` which only allows to do so if `force` is passed as an option.

It would be nice if passing this option to the `delete` would be supported.

[2021-01-14 18:03] samydoesit opened #90 "EPERM Error after update"
## Config

[code]

## Issue

After Updating to 3.0.0 we do get some new Errors, not quite sure what causes this.

`<e> [FileManagerPlugin] error while copying. task Error: EPERM: operation not permitted, unlink 'long/path/outside/cwd/js`

Running 2.0.5 there was no error, or we couldn't see it before.
We need to remove and copy files outside cwd, maybe thats related?

## Your Environment

| Tech

[2021-01-15 09:51] sibiraj-s commented on #90
I tried to copy files outside the directory everything works fine. Can you provide an example I could reproduce?

Also the error is little confusing. Not sure why `unlink` is thrown while copying.

[2021-01-16 06:28] sibiraj-s commented on #89
Try v3.1.0. You can do this.

[code]

[2021-01-16 06:28] #89 closed

[2021-01-16 09:07] sibiraj-s commented on #88
I would prefer to do it webpack way if possible.

For example to fail a compilation, you would do

[code]

which causes the compilation to fail. I am not sure if something like this exists for compiler.

[2021-01-16 12:14] matthiasrohmer commented on #89
Nice! Thanks a lot for the quick turn-around 🙂

[2021-01-20 08:07] JackieChanWang opened #91 "TypeError: compiler.getInfrastructureLogger is not a function"
## Config

[code]

## Issue
[code]

## Your Environment

| Tech                       | Version |
| -------------------------- | ------- |
| filemanager-plugin-webpack |    3.1.0     |
| node                       |      12.14.1   |
| OS                         |    win10     |

[2021-01-20 08:08] JackieChanWang commented on #91
Import plug-in package to report error

[2021-01-22 17:05] xzy-xzy-xzy commented on #87
my  vue project(vuecli3) have same problem and no error message.

[2021-01-22 17:06] xzy-xzy-xzy commented on #87
@sibiraj-s

[2021-01-23 03:05] sibiraj-s commented on #87
There is no details in this issue and the issue template is missing. I won't be able to fix this without more info.

[2021-01-27 09:10] CGSimplePeople commented on #87
I want to delete the map file
![企业微信截图_16117385801202](https://user-images.githubusercontent.com/54523778/105968809-823eae80-60c2-11eb-86d5-6fb344bfee03.png)

[2021-01-27 09:11] CGSimplePeople commented on #87
I cannot delete  .map file
![企业微信截图_16117385801202](https://user-images.githubusercontent.com/54523778/105969026-c03bd280-60c2-11eb-9a7b-138449d28790.png)

[2021-01-27 09:14] CGSimplePeople commented on #87
I can delete it with version 2.0.5，but use 3.0 cannnot be delete

[2021-01-27 09:21] CGSimplePeople commented on #87
![企业微信截图_16117385801202](https://user-images.githubusercontent.com/54523778/105970019-dbf3a880-60c3-11eb-8d1d-1efe0c3df634.png)

I cannot delete .map file
I can delete it with version 2.0.5,but I can't delete it with version 3.1

[2021-01-27 10:52] sibiraj-s commented on #87
Still no details. Provide a repo where I could reproduce this. Post the error message you get If there is one.

[2021-01-31 15:53] RomanYegay opened #92 "Unable to copy file at WebDAV location"
## Config

Version 3.0.0-alpha.2 (works):

[code]

Version 3.1 (doesn't work):

[code]

## Issue

I am using plugin version 3.0.0-alpha.2 to copy files at prod server using WebDAV destination like "\\\\site.com@SSL\\DavWWWRoot\\folder\\", however after updrade to version 3.1 copy is failed by unknown reason.

## Your Environment

| Tech                       | Version    |
| ----------------------

[2021-01-31 17:58] sibiraj-s commented on #92
@RomanYegay Can you post the error message you get?

[2021-02-02 08:31] RomanYegay commented on #92
@sibiraj-s There was no error in console. However, after some research I've found that version 3.0.0-alpha.2 accepts improperly formatted WebDAV destination (like \\www.site.com@SSL\DavWWWRoot\level1/level2/level\), while version 3.1 doesn't. So this is mostly my fault, sorry.

PS: while testing found another issue, plugin can't copy absolute file names with glob pattern, i.e.
    source: './dist/

[2021-02-02 11:06] sibiraj-s commented on #92
Cool. Glad the issue is fixed. I will close this one.

Regarding the other issue. I think it could be from here https://github.com/gregnb/filemanager-webpack-plugin/blob/master/src/actions/copy.js#L20. We are joining path with context. but actually we should check if path is absolute and then process. Feel free to open a new issue for this. I am occupied at the moment. I will work on this this wee

[2021-02-02 11:06] #92 closed

[2021-02-10 10:20] RomanYegay opened #93 "Can't copy absolute source file if contains glob pattern"
## Config

        new FileManagerPlugin({
            events: {
                onEnd: {
                    copy: [
                        {
                            source: 'C:\\temp\\project\\dist\\bundle.{js,css}',
                            destination: ' some destination ',
                        },
                    ],
                },
            },

## Issue

Plugin can't copy

[2021-02-12 17:18] yorkish opened #94 "Plugin does not preserve folder structure source vs destination when using the copy event"
## Config

[code]

## Issue

backtracked the issue to v3.0.0-alpha.0 on commit [Replace cpx, remove fs-extra, update ava](https://github.com/gregnb/filemanager-webpack-plugin/pull/82)

basically under 'sources/images' I have additional folders named svg and favicon.

v3.0.0+ using cpy doesn't create those subfolders in the destination folder anymore as cpx did. everything gets mixed up in the same

[2021-02-13 02:03] sibiraj-s commented on #94
CPX is replaced with CPY since it is no longer maintained. Unfortunately CPY doesn't allow recursive copy. There is an open PR for that in CPY repo. I am waiting on that.

[2021-02-19 10:44] samydoesit commented on #90
Sorry for the late response actually quite difficult to provide a reproducible case.
Updated meanwhile to 3.1.0 to see if maybe something changed but sadly it still reports the error and does not move the manifest file.

[2021-02-19 14:37] sibiraj-s commented on #90
Hi, I understand the situation here. I maintain this lib mostly during my free time. Without a reproduction scenario or a proper scenario, I will be just searching blind. But I will try. Any input will be helpful here.

Can you answer some questions.

are you trying to copy or move?

is this an absolute path?

did it work on your machine?

why are you trying to remove and copy files? can you elabo

[2021-02-24 15:48] EskelCz commented on #59
I'm seeing the same thing with 3.1.0, the onEnd is triggered before the build even starts

[2021-03-07 07:54] sibiraj-s commented on #93
Fixed in v3.1.1

[2021-03-07 07:54] #93 closed

[2021-03-13 18:39] zenonhun commented on #94
Any update or workaround for this? CPY doesn't seems to fix this issue anytime soon.

[2021-03-14 10:03] bennymeg opened #95 "Archiver creates invalid archives"
## Config

[code]

## Issue

It seems that the archive is being created, and it size reflect the of the files that had being archived, but it cannot be opened.
An file is invalid error is raised when trying to open it.
This happens for both .zip and .tar.gz files.

## Your Environment

| Tech                       | Version    |
| -------------------------- | ---------- |
| filemanager-plugin-webp

[2021-03-14 13:43] sibiraj-s commented on #95
Thanks for reporting this. Can you provide a reproducible code so that I can verify this. I use mac, so far no issues encountered. Could be OS specific. If that is the case, I will need some help fixing this.

[2021-03-14 13:48] sibiraj-s commented on #94
I am afraid we may need to wait on it. I am open to suggestions, let me know if you find anything.

[2021-03-15 15:33] bennymeg commented on #95
Hi,
I spent couple of hours on that, unfortunately, I could not find find what causing the issue.
It seems to be working fine outside of webpack, I suspect the archive was not properly closed before the webpack process finished.
I have ended up writing a short script to archive the artifacts instead.

[2021-03-16 06:16] shubhamdeodia commented on #90
@samydoesit : Did you happened to find a workaround, I facing the same issue.

[2021-03-16 08:37] samydoesit commented on #90
@shubhamdeodia Our "workaround" atm is staying with 2.0.5 until we figured out what's causing this.

[2021-03-23 14:20] vparchas commented on #65
Could you add some additional compiler hooks such as `onAfterEmit`, `onDone`, `afterDone` etc? This should make it possible to attach the plugin to different phases and resolve the issue.

[2021-03-26 10:02] mad-gav opened #96 "Unable to move or copy file. No such file exists"
## Config

    new FileManagerPlugin({
      events: {
        onEnd: {
          move: [
            { source: '/dist/screen.css', destination: '/dist/styles/screen.css' },
          ],
        },
      },
    }),

## Issue

get an error
[code]
screen.css gets put into the root of /dist in the webpack build
![image](https://user-images.githubusercontent.com/60468535/112615313-3dad6600-8e1a-11eb-8

[2021-04-13 03:39] zhizunbaono1 commented on #91
Do you solve the problem

[2021-04-13 05:11] sibiraj-s commented on #91
Sorry. I missed to reply here. This seems to be not a problem with the plugin. Might be related to https://github.com/webpack/webpack/issues/9553.

The problem seems to be around having multiple versions installed. Try removing `node_modules` and `yarn.lock` and reinstall. That might work.

[2021-04-28 08:58] 4550155 opened #97 "compiler.getInfrastructureLogger is not a function"
ERROR  TypeError: compiler.getInfrastructureLogger is not a function

node_modules\filemanager-webpack-plugin\lib\index.js:581:30)
node_modules\webpack\lib\webpack.js:47:13)
node_modules\@vue\cli-service\lib\commands\build\index.js:192:5
node_modules\@vue\cli-service\lib\commands\build\index.js:191:10)
node_modules\@vue\cli-service\lib\commands\build\index.js:85:7

## Config

new FileManagerPlugin

[2021-04-28 10:07] sibiraj-s commented on #97
Closing this. as it seems to be a duplicate of #91. See if the given solution here https://github.com/gregnb/filemanager-webpack-plugin/issues/91#issuecomment-818441476 works and continue the discussion there.

[2021-04-28 10:07] #97 closed

[2021-05-12 09:46] adolt commented on #94
Any progress?

[2021-05-31 08:31] chenyjyoucan opened #99 "使用过程报错"
building for production.../Users/Desktop/17assess-FE/node_modules/_filemanager-webpack-plugin@5.0.0@filemanager-webpack-plugin/lib/index.js:579
    this.logger = compiler.getInfrastructureLogger(PLUGIN_NAME);
                           ^

TypeError: compiler.getInfrastructureLogger is not a function
    at FileManagerPlugin.apply (/Users/wenba/Desktop/17assess-FE/node_modules/_filemanager-webpack-

[2021-05-31 08:42] chenyjyoucan commented on #91
Your method doesn't seem to solve the problem

[2021-06-03 07:03] sibiraj-s commented on #99
Duplicate of #91. See https://github.com/gregnb/filemanager-webpack-plugin/issues/91#issuecomment-818441476

[2021-06-03 07:03] #99 closed

[2021-06-22 09:43] enkelmedia commented on #94
This one is really limiting, is there any plans to address it?

[2021-06-22 10:04] sibiraj-s commented on #94
@enkelmedia the PR to support this feature is done. https://github.com/sindresorhus/cpy/pull/77. It is in review, hoping it would be merged soon. I will release a patch as soon as it is merged.

[2021-06-23 10:34] luchanan opened #100 "how to user in nuxt?"
could you tell me how to use in nuxt?
[code]

it works, but the gzip file size is not right

[2021-06-23 11:15] sibiraj-s commented on #100
I haven't used nuxt (yet). I think it will be something like.

[code]

See https://nuxtjs.org/docs/2.x/features/configuration#add-webpack-plugins

[2021-06-23 17:28] sibiraj-s commented on #100
Sorry I missed the last line. Could you elaborate this a bit more? I couldn't understand the exact issue here.

[2021-06-24 01:45] luchanan commented on #100
thanks for reply

this url can test it: [https://github.com/luchanan/nuxt_filemanager_webpack_plugin_test.git](url)

when run script like

[code]

it will generate test.tar.gz file.

when you open it.

the file is not include .nuxt file.

so the test.tar.gz sizes is incorrect.

[2021-06-24 02:01] sibiraj-s commented on #100
Can you try this.

[code]

[2021-06-24 03:36] sibiraj-s commented on #45
Fixed in v6.1.0

[2021-06-24 03:36] #45 closed

[2021-06-24 03:37] sibiraj-s commented on #34
You can now use `runOnceInWatchMode` to execute the `onStart` event to run only once in watch mode. Added in v6.1.0

[2021-06-24 03:37] #34 closed

[2021-06-24 03:42] luchanan commented on #100
it's useful. thank you

[2021-06-24 03:42] #100 closed

[2021-06-24 07:44] luchanan opened #101 "Cannot find module 'node:path'"
when i up upgrade to v6.1.0

Error: Cannot find module 'node:path'                                               │
   │   Require stack:                                                                      │
   │   - D:\project\nuxt\jm_m_nuxt\node_modules\filemanager-webpack-plugin\dist\index.js

[2021-06-24 07:54] sibiraj-s commented on #101
What is the node version you have?

[2021-06-24 08:20] creepXXX opened #102 "Must use import to load ES Module:"
// 'use strict'
const FileManagerPlugin = require('filemanager-webpack-plugin')
const path = require('path')

Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: C:\Users\Creep\Desktop\project_out\kuang-monitor-online\node_modules\filemanager-webpack-plugin\dist\index.js
require() of ES modules is not supported.
require() of C:\Users\Creep\Desktop\project_out\kuang-monitor-online\node_modu

[2021-06-24 08:57] sibiraj-s commented on #102
Can you try v6.1.1

[2021-06-24 13:20] mwoz123 commented on #101
same here.
[code]

[code]

[2021-06-24 13:36] mwoz123 commented on #101
Downgrading to `5.0.0` fixed/workaround issue (6.0.0 also didn't work for me.)

[2021-06-24 14:42] sibiraj-s commented on #101
Yeah. It is a breaking change, Nodejs 10 has reached EOL, FMP v6 requires `^12.20.0 || ^14.13.1 || >=16.0.0` since .

You can stick to v5 till then I suppose.

[2021-06-24 18:03] guillaume-sainthillier commented on #101
Hello,
This is the same for me:
[code]

Output (truncated):
[code]

[2021-06-24 18:25] sibiraj-s commented on #101
Found the issue.  `node:` protocol support for CJS was added only in v16. Will fix this shortly

[2021-06-24 18:30] sibiraj-s commented on #101
Fixed in v6.1.2

[2021-06-24 18:30] #101 closed

[2021-06-25 07:54] guillaume-sainthillier commented on #101
That was quick! Thank you :)

[2021-06-27 08:44] sibiraj-s commented on #102
Should be fixed now.

[2021-06-27 08:44] #102 closed

[2021-06-28 01:41] creepXXX commented on #102
resolved

[2021-07-02 20:49] jaredloomis commented on #91
For myself, this issue was due to having a global **and** a local install of webpack. using `$(yarn bin webpack)` instead of `webpack` did the trick.

[2021-07-04 01:34] sibiraj-s commented on #91
Thanks @jaredloomis for sharing.

[2021-07-07 02:07] sibiraj-s commented on #90
Closing due to inactivity. Try the recent version.

[2021-07-07 02:07] #90 closed

[2021-07-07 02:07] sibiraj-s commented on #96
Hey @mad-gav. I totally missed this one. I hope the issue is resolved.

Reopen if the issue still persists.

[2021-07-07 02:07] #96 closed

[2021-07-07 02:08] sibiraj-s commented on #91
Closing since the issue is not related to the plugin.

[2021-07-07 02:08] #91 closed

[2021-07-07 02:09] sibiraj-s commented on #87
I hope your issue is resolve. try the latest version.

Closing this issue due to inactivity.

[2021-07-07 02:09] #87 closed

[2021-07-07 02:13] sibiraj-s commented on #62
Closing the issue, since this is too old. Try the latest version, there are lot of things changed.

[2021-07-07 02:13] #62 closed

[2021-08-16 07:53] kaysonwu opened #106 "Allow some files to be retained when deleting"
## Config

[code]

## Issue

I wanted to keep the `images` folder and some files, but they were all deleted.

## Your Environment

| Tech                       | Version |
| -------------------------- | ------- |
| filemanager-plugin-webpack |   6.1.5    |
| node                       |    v14.17.4     |
| OS                         |      macos  big sur 11.4  |

[2021-08-16 08:07] sibiraj-s commented on #106
See https://github.com/gregnb/filemanager-webpack-plugin#delete.

Options support ignore property. where you can specify the glob(array) to ignore.

[2021-08-17 04:26] #106 closed

[2021-08-21 07:09] oliyg commented on #95
I got the same error: 'Unable to expand "app.zip". it is in an unsupported format'
Here is the reproducible [code](https://github.com/oliyg/demozip)
I'm going to make a webpack builder cli application so I choose to use webpack node API.
When my `compiler.close` listener function is triggered I use `process.exit()` to kill the process.
But according to the [archiver doc](https://www.archiverjs.com

[2021-08-21 08:22] sibiraj-s commented on #95
Thanks @oliyg.

Fixed by #107. Published in v6.1.6. Reopen this if the issue still persists.

[2021-08-21 08:22] #95 closed

[2021-08-25 14:51] daniel-brenot commented on #94
Bumping because this just ended up causing a delay where i work

[2021-08-25 14:57] sibiraj-s commented on #94
Since PR is now merged, I can try making an alpha release pointing to the `cpy's master branch`  .

[2021-08-28 07:42] signmeuptwice opened #108 "FileManagerPlugin [DEP_WEBPACK_DEPRECATION_ARRAY_TO_SET] DeprecationWarning: Compilation.chunks was changed from Array to Set (using Array method 'map' is deprecated)"
## Issue

## Your Environment

"filemanager-webpack-plugin": "^6.1.6",

[2021-08-29 21:32] itsmeneartou commented on #41
Thank you for the plugin. I am stuck between `copy-webpack-plugin` and `filemanager-webpack-plugin`. I want to copy files after the Webpack build files, this is present in  `filemanager-webpack-plugin` but not in `copy-webpack-plugin` but then I also want to transform a JSON file during the copy process which is present in `copy-webpack-plugin` but not here. What to do?

[2021-08-31 07:21] sibiraj-s commented on #108
Delete node_modules dir and lock file and run a fresh installation. Can you try if that helps?

[2021-09-02 18:51] codingpierogi opened #109 "npm ERR! notsup Unsupported engine for filemanager-webpack-plugin@6.1.6:"
## Config

## Issue

Trying to upgrade from version 6.1.4 to 6.1.6 and I'm now receiving the Unsupported Engine error because I'm using npm 6. It seems weird that I would receive this error in a patch. Also, is there a specific reason for npm 7?

npm ERR! code ENOTSUP
npm ERR! notsup Unsupported engine for filemanager-webpack-plugin@6.1.6: wanted: {"node":"^12.20.0 || ^14.13.1 || >=16.0.0","npm":"

[2021-09-03 01:06] sibiraj-s commented on #109
It was added for dev environment. Will fix that.

[2021-09-10 13:53] sibiraj-s commented on #109
Fixed in v6.1.7

[2021-09-10 13:53] #109 closed

[2021-10-19 01:26] sibiraj-s commented on #108
Closing the issue. since the api is not used by FMP. Feel free to continue the conversation if needed.

[2021-10-21 09:32] hummal commented on #94
Is anything happening here? Or should we move away from filemanager plugin

[2021-11-04 11:22] kkmavr opened #110 "Dependency cpy security vulnerability"
There is a security issue in the cpy library, because of the glob-parent dependency.
filemanager-webpack-plugin>cpy>globby>fast-glob>glob-parent

An [issue](https://github.com/sindresorhus/cpy/issues/96) has been raised to update to latest versions of their dependencies. If this happens, could you also update to the latest cly version?

[2021-11-04 13:04] sibiraj-s commented on #110
Thank you for the notice. If the update for cpy is minor, no changes needed here. If they do a major version release(based on the current unreleased changes in master). I will publish a new version too as soon as I can.

[2021-11-28 09:30] JustCarmen commented on #110
Hi, I think I have a similar issue from a dependabot alert

The latest possible version that can be installed is 3.1.0 because of the following conflicting dependency:

[2021-12-03 15:32] sibiraj-s commented on #110
Removed cpy in v7. Its in alpha right now.

[2021-12-03 15:32] #110 closed

[2021-12-03 15:33] sibiraj-s commented on #94
Tired of waiting on cpy, and next version is ESM only. hence the package is removed and implemented natively. Try v7 alpha. It by default copies everything recursively, flat option is yet to be implemented.

[2021-12-03 15:33] #94 closed

[2021-12-10 18:21] willdkp commented on #96
@mad-gav did you find a solution to this? I am facing similar problem.

[2022-01-08 02:37] dangayle opened #112 "Feature request: ignore files"
Hi. I am using this plugin to copy files from one build over to multiple destinations. There are a few files I do not want to transfer. Right now I have it set to delete the files after the copy event, but I'm hoping you have a cleaner solution to this.

[2022-01-08 03:49] sibiraj-s commented on #112
You can use globOptions.

[code]

[2022-01-08 06:13] dangayle commented on #112
Oh, I missed that. Thank you. There's no way to pass it in as a global
option, is there?

On Fri, Jan 7, 2022 at 7:49 PM Sibiraj ***@***.***> wrote:

[2022-01-08 06:51] sibiraj-s commented on #112
Different action uses different glob dependencies. It's simpler this way.

Closing the issue as it is solved. Feel free to continue the conversation.

[2022-01-08 06:51] #112 closed

[2022-02-01 14:52] Phil147 opened #114 "Typescript error with 7.0.0-alpha.1"
## Issue
The simplest form like
[code]
is not working with typescript and v7.0.0-alpha.1 anymore. Typescript will throw with:

[code]

Possibly introduced by: https://github.com/gregnb/filemanager-webpack-plugin/pull/111/files#diff-a150fb53afee945f23f3fe7c176007111f3ba81bb0d188af4077d4a0fc4caa37R23-R26

I think `options` and `globOptions` should be optional.
Works fine with 7.0.0-alpha.0

## Your

[2022-02-02 12:51] sibiraj-s commented on #114
<img width="786" alt="Screenshot 2022-02-02 at 6 19 54 PM" src="https://user-images.githubusercontent.com/20282546/152157044-eed7296b-2620-4385-b82a-7e924ce4c5ab.png">

Can you check again. its there...

[2022-02-02 12:56] sibiraj-s commented on #114
<img width="229" alt="Screenshot 2022-02-02 at 6 26 23 PM" src="https://user-images.githubusercontent.com/20282546/152158003-50aaa575-c738-4cbd-b205-93154285f20b.png">

I have now fixed the dist tags. previously latest is pointing to alpha. check now?

[2022-02-03 09:22] Phil147 commented on #114
Turned out to be some caching issues on my end. Thanks for looking into it!

[2022-03-23 06:18] xqhmz opened #115 "How to package dist to realize dual directory"
How to package dist to realize dual directory
 example:
dist.zip/dist/css

![image](https://user-images.githubusercontent.com/49462898/159635811-82a3a7ee-69e9-466a-99c0-c8105c1325d3.png)

[2022-03-26 04:45] sibiraj-s commented on #115
Can you elaborate? I couldn't understand whats needed.

[2022-04-08 06:07] xqhmz commented on #115
Vue dist compressed package with dist folder

[2022-04-09 01:17] ddehghan opened #116 "npm fix rolls back the version to 2.0.5"
This breaks our production when we run npm fix.

      Regular Expression Denial of Service in braces - https://github.com/advisories/GHSA-g95f-p29q-9xw4
      fix available via `npm audit fix --force`
      Will install filemanager-webpack-plugin@6.1.7, which is a breaking change
      node_modules/cpx/node_modules/braces
        micromatch  0.2.0 - 2.3.11
        Depends on vulnerable versions o

[2022-04-09 05:58] sibiraj-s commented on #115
Screenshots are not helpful. Please describe with some detail.

[2022-04-09 06:07] sibiraj-s commented on #116
Can you try. v7.0.0.beta.0. It should be free from vulnerable dependencies.

[2022-04-10 02:14] ddehghan commented on #116
thank you very much for quick response. it works for me.

[2022-04-10 02:14] #116 closed

[2022-04-15 02:03] daoxincc commented on #115
Maybe he means that he wants to remove the dist directory from the zip package and only package the dist subdirectory

[2022-04-15 02:21] xqhmz commented on #115
On the contrary,I hope package  the dist directory  and  the dist subdirectory，now it dose not has the dist directory only has
the dist subdirectory

`const FileManagerPlugin = require('filemanager-webpack-plugin');
const path = require("path");

module.exports = {
   configureWebpack:{
       resolve:{
          extensions:['.js', '.json', '.vue', '.scss', '.css'],
          alias: {

[2022-04-15 02:36] daoxincc commented on #115
cool, it works

[2022-04-15 02:37] daoxincc commented on #115
I think that's his want

[2022-05-07 08:04] sibiraj-s commented on #115
Ah. That was the intended behaviour. If you want  source directory to be a part of the output archive as well. then you could move it into another directory and zip that.

[2022-05-31 23:25] Slapbox commented on #22
`*` did work for us with delete on `7.0.0-beta.0` on Windows. `**` did not.

[2022-06-29 11:29] parkerisme commented on #115
Ah.I want it also.so what should i do?the mthod move is not easy.

[2022-10-26 19:16] TheDevZz commented on #87
@CGSimplePeople @xzy-xzy-xzy I guess you're using it on Windows.
Try this:
[code]
You can see that:
https://github.com/mrmlnc/fast-glob#how-to-write-patterns-on-windows

In the source code：
https://github.com/gregnb/filemanager-webpack-plugin/blob/8cf85b5c27d4d8b7eb6ae6f62d4569dd9aaf54f2/src/actions/delete.js#L14

https://github.com/gregnb/filemanager-webpack-plugin/blob/8cf85b5c27d4d8b7eb6ae6f62d

[2022-11-16 13:34] truemogician opened #119 "Could not find the declaration file under "Node16" or higher"
## Issue

The `exports` field in `package.json` is kind of misconfigured, since it misses `types`, leading to the following error when setting `moduleResolution` to `Node16` or `NodeNext` in `tsconfig.json`:
[code]
Here is a comment from TypeScript that explains this issue: [TypeScript module "Node16" does not resolve types of CJS module](https://github.com/microsoft/TypeScript/issues/49160#issuec

[2022-11-16 14:26] sibiraj-s commented on #119
Fixed in #120

[2022-11-16 14:26] #119 closed

[2022-11-16 15:05] sibiraj-s commented on #119
published in v8.0.0